/* *{
    margin: 0;
} */

body{
    background: linear-gradient(45deg, #BBE1FA 0 20%, #3282B8 20% 40%, #0F4C75 40% 60%, #1B262C 60% 100%);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:#FF9912;
}


.image{
    width: 400px;
    height: auto;
}

p{
    font-size: 14px;
}

.unordered,
ol {
    list-style-position: inside;
}

h3 {
    color:antiquewhite;
    font-weight: bold;
    font-size: 25px;
}


/* footer{
    padding: 0 10px 0 10px;
    position:fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
} */
