html {
    box-sizing: border-box;
}

body{
    display:block;
    margin: 0;
    background: linear-gradient(70deg, #BBE1FA 0 20%, #3282B8 20% 40%, #0F4C75 40% 60%,#1B262C 60% 80%, #FFFFFF 80% 100%);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:#FF9912;
    min-height: 100vh;
}



.image{
    width: 400px;
    height: auto;
}

p{
    font-size: 14px;
    margin: 8px;
}

.unordered,
ol {
    list-style-position: inside;
}

h3 {
    color: #FF9912;
    font-weight: bold;
    font-size: 25px;
}

li{
    padding: 8px;
}
li a:hover{
    color:#FF9912;
}
.button{
    background-color: #1B262C;
    color: #FF9912;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    padding: 15px;
    min-height:30px; 
    min-width: 120px;
}
.button:active {
    background-color: #FF9912;
}
.button:hover {
    background-color: #FF9912;
    color:#BBE1FA;
}


a:visited{
    color:antiquewhite;
}
/* footer{
    padding: 0 10px 0 10px;
    position:fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
} */
