/* *{
    margin: 0;
    padding: 0;
} */

body{
    background: linear-gradient(#e66465, #9198e5);
    text-align: center;
}

.header{
    font-family:'Courier New', Courier, monospace;
}

.image{
    width: 400px;
    height: auto;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.unordered,
ol {
    list-style-position: inside;
}
